apiVersion: v1
kind: Service
metadata:
  name: hello-service
spec:
  selector:
    app: hello-k8s
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080   # External port on the node (for NodePort)
  type: NodePort
